<h2>&bull; Unit testing - Jasmine <br>
 &nbsp; &nbsp; <a href="http://jasmine.github.io/" target="_blank">http://jasmine.github.io/</a></h2>

<h2>&bull; Angular Expressions in templates
<div ng-non-bindable style="font-family:monospace"> &nbsp; &nbsp; {{ ... }}</div></h2>

<h2>&bull; Angular Expressions in IMG SRC
<div ng-non-bindable style="font-family:monospace"> &nbsp; &nbsp; &lt;img ng-src="{{ ... }}" &gt;</div></h2>

<h2>&bull; REST <br>
 &nbsp; &nbsp; $resource</h2>

<h2>&bull; Find modules for AngularJS<br>
 &nbsp; &nbsp; <a href="http://ngmodules.org/" target="_blank">http://ngmodules.org/</a></h2>



