<div class="row">
  <div class="col-md-6" style="padding-left:0px;" >
    <h2>CoffeeScript</h2>
  </div>
  <div class="col-md-6" >
    <h2>JavaScript</h2>
  </div>
</div>

<script type="text/ng-template" id="slide6Code1">
mood = greatlyImproved if singing

if happy and knowsIt
  clapsHands()
  chaChaCha()
else
  showIt()

date = if friday then sue else jill
</script>

<script type="text/ng-template" id="slide6Code2">
var date, mood;

if (singing) {
  mood = greatlyImproved;
}

if (happy && knowsIt) {
  clapsHands();
  chaChaCha();
} else {
  showIt();
}

date = friday ? sue : jill;
</script>


<div class="row">
  <div class="col-md-6" style="padding-left:0px;" >
    <div hljs include="'slide6Code1'" language="coffeescript"></div>
  </div>
  <div class="col-md-6" >
    <div hljs include="'slide6Code2'" language="javascript"></div>
  </div>
</div>
