<script type="text/ng-template" id="slide17Code1">
angular
  .module('angularOnCoffeeApp', ['ngCookies', 'ngResource', ...])
  .config [() ->
    ...
  ]

...
<body ng-app="angularOnCoffeeApp">
  ...
  <script src="bower_components/angular/angular.js">
...
</script>


<div class="row">
  <div class="col-md-8" style="padding-left:0px;" >
    <div hljs include="'slide17Code1'" language="coffeescript"></div>
  </div>
  <div class="col-md-4" style="" >
    <img src="images/angular_bootstraping.png" style="width:100%">
  </div>
</div>
