<div class="row">
  <div class="col-md-6" style="padding-left:0px;" >
    <h2>CoffeeScript</h2>
  </div>
  <div class="col-md-6" >
    <h2>JavaScript</h2>
  </div>
</div>

<script type="text/ng-template" id="slide5Code1">
song = ["do", "re", "mi", "fa", "so"]

singers = {Jagger: "Rock", Elvis: "Roll"}

bitlist = [
  1, 0, 1
  0, 0, 1
  1, 1, 0
]

kids =
  brother:
    name: "Max"
    age:  11
  sister:
    name: "Ida"
    age:  9
</script>

<script type="text/ng-template" id="slide5Code2">
var bitlist, kids, singers, song;

song = ["do", "re", "mi", "fa", "so"];

singers = {
  Jagger: "Rock",
  Elvis: "Roll"
};

bitlist = [1, 0, 1, 0, 0, 1, 1, 1, 0];

kids = {
  brother: {
    name: "Max",
    age: 11
  },
  sister: {
    name: "Ida",
    age: 9
  }
};
</script>

<div class="row">
  <div class="col-md-6" style="padding-left:0px;" >
    <div hljs include="'slide5Code1'" language="coffeescript"></div>
  </div>
  <div class="col-md-6" >
  <div hljs include="'slide5Code2'" language="javascript"></div>
  </div>
</div>
