<div class="row">
  <div class="col-md-6" style="padding-left:0px;" >
    <h2>CoffeeScript</h2>
  </div>
  <div class="col-md-6" >
    <h2>JavaScript</h2>
  </div>
</div>

<script type="text/ng-template" id="slide11Code1">
theBait   = 1000
theSwitch = 0

[theBait, theSwitch] = [theSwitch, theBait]


weatherReport = (location) ->
  # Make an Ajax request to fetch the weather...
  [location, 72, "Mostly Sunny"]

[city, temp, forecast] = weatherReport "Berkeley, CA"
</script>

<script type="text/ng-template" id="slide11Code2">
var theBait, theSwitch, city, forecast, temp, weatherReport, _ref;

theBait = 1000;

theSwitch = 0;

_ref = [theSwitch, theBait], theBait = _ref[0], theSwitch = _ref[1];



weatherReport = function(location) {
  return [location, 72, "Mostly Sunny"];
};

_ref = weatherReport("Berkeley, CA"), city = _ref[0], temp = _ref[1], forecast = _ref[2];
</script>


<div class="row">
  <div class="col-md-6" style="padding-left:0px;" >
    <div hljs include="'slide11Code1'" language="coffeescript" ></div>
  </div>
  <div class="col-md-6" >
    <div hljs include="'slide11Code2'" language="javascript" ></div>
  </div>
</div>
