<div class="row"><div class="col-md-6" style="padding-left:0px"><h2>CoffeeScript</h2></div><div class="col-md-6"><h2>JavaScript</h2></div></div><script type="text/ng-template" id="slide13Code1">author = "Wittgenstein"
quote  = "A picture is a fact. -- #{ author }"

sentence = "#{ 22 / 7 } is a decent approximation of π"

html = """
       <strong>
         cup of coffeescript
       </strong>
       """</script><script type="text/ng-template" id="slide13Code2">var author, quote, sentence, html;

author = "Wittgenstein";

quote = "A picture is a fact. -- " + author;

sentence = "" + (22 / 7) + " is a decent approximation of π";


html = "<strong>\n  cup of coffeescript\n</strong>";</script><div class="row"><div class="col-md-6" style="padding-left:0px"><div hljs="" include="'slide13Code1'" language="coffeescript"></div></div><div class="col-md-6"><div hljs="" include="'slide13Code2'" language="javascript"></div></div></div>