<div class="row"><div class="col-md-6" style="padding-left:0px"><h2>CoffeeScript</h2></div><div class="col-md-6"><h2>JavaScript</h2></div></div><script type="text/ng-template" id="slide8Code1">is
isnt
not
and
or
true, yes, on
false, no, off
@, this
of
in
a ** b
a // b
a %% b</script><script type="text/ng-template" id="slide8Code2">===
!==
!
&&
||
true
false
this
in
no JS equivalent
Math.pow(a, b)
Math.floor(a / b)
(a % b + b) % b</script><div class="row"><div class="col-md-6" style="padding-left:0px"><div hljs="" include="'slide8Code1'" language="coffeescript" style="text-align:center"></div></div><div class="col-md-6"><div hljs="" include="'slide8Code2'" language="javascript" style="text-align:center"></div></div></div>